body, html {
  font-size: 12px;
}

html {
  font-size: 62.5%;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.normal-paragraph {
  text-align: center;
  color: green;
  font-size: 1.2rem;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}

#firstSection {
  position: static;
  font-weight: bold;
}

a:hover {
  color: orange;
}

nav ul li:last-child {
  margin-right:0;
}

nav ul li > a {
    color: blue;
    font-size: 2.5rem;
    display: inline;
}

